
/*.a{background-color: black;
height: 80px;
width: 1368px;
position: fixed;
color: red;}*/
body {background-color: #ffff00;}
.a{position: fixed;}
.a1{position: relative;
	background-color: #ff3333;
	height: 590px;
	width: 350px;
	margin-left: 920px;
	border: 3px solid red;
 border-radius: 25px;}
h3{margin-left: 20px;
}
.aa2{height:200px;
     margin-left: 80px;}
audio{margin-left:50px;}